.error {
    border: 1px solid red;
  }

.error-msg{
    color: red;
<<<<<<< Updated upstream
    font-family: 'Brush Script MT',cursive;
<<<<<<< HEAD
}
    
.custom-font{
    font-family: 'Brush Script MT', cursive;
=======
>>>>>>> Stashed changes
=======
>>>>>>> b6d096a95ae987c4069aa4d9b7922cd4a156f614
}